<ion-view view-title="班级" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="main.attend">
            加入班级
        </button>
    </ion-nav-buttons>
    
    <ion-content class="grade-course-wrap"> 
        <ion-refresher pulling-text="下拉刷新..." spinner="dots" on-refresh="refreshHandle()"></ion-refresher>

        <p class="course-nothing" ng-if="!hasClass">
            <img ng-src="img/blank.png" ng-if="status">
            <img ng-src="img/load-error.png" ng-if="!status">
            <span class="error-text">{{status?'还没有加入班级哦~':'网络不佳, 下拉刷新重新加载'}}</span> 
            <span class="attend-button" flash ui-sref="main.attend" ng-if="!hasClass && status">立即加入</span>
        </p>


        <div class="view-panel grade-course-list" ng-if="hasClass" ng-repeat="item in courseData track by $index">
            <div class="view-panel-cell" flash ng-click="showDetailPage(item)">
                <div class="view-cell-hd">
                    <h4 class="ellipse">{{item.class_name}}</h4>
                    <p class="number" ng-if="item.class_type == 0">班级编号: {{item.class_number}}</p>
                    <p class="number" ng-if="item.class_type == 1">校区名称: {{item.school_name}}</p>
                </div>
                <div class="view-cell-bd"><span class="grade-button"></span></div>
            </div>
            <div class="view-panel-cell" flash ng-repeat="course in item.task_list" ng-click="showDetailPage(course)">
                <div class="view-cell-hd hidden-title-status">
                    <h4 class="ellipse">{{course.task_name}}</h4>
                </div>
                <div class="view-cell-bd"><span ng-class="{0: 'orange-text', 1: 'gray-text', 2: 'gray-text', 3: 'gray-text', 4: 'add-button'}[course.task_status]">{{course.task_status | courseType:course.task_accuracy:course.deadline_time}}</span></div>
            </div>
        </div>



        <!--div class="view-panel grade-course-list" ng-repeat="item in courseData">
            <div class="view-panel-cell" ui-sref="main.courseDetailDaily">
                <div class="view-cell-hd">
                    <h4 class="ellipse">云课堂高中数学</h4>
                    <p class="number">班级编号: 6565658</p>
                </div>
                <div class="view-cell-bd"><span class="grade-button"></span></div>
            </div>
            <div class="view-panel-cell">
                <div class="view-cell-hd hidden-title-status">
                    <h4 class="ellipse">02月02日作业(5题)</h4>
                </div>
                <div class="view-cell-bd"><span class="add-button">逾期未交</span></div>
            </div>
        </div>



        <div class="view-panel grade-course-list">
            <div class="view-panel-cell" ui-sref="main.courseDetailLive">
                <div class="view-cell-hd">
                    <h4 class="ellipse">云课堂高中数学寒假延中校区① </h4>
                    <p class="number">班级编号: 888555</p>
                </div>
                <div class="view-cell-bd"><span class="grade-button"></span></div>
            </div>
            <div class="view-panel-cell">
                <div class="view-cell-hd hidden-title-status">
                    <h4 class="ellipse">10月24日作业(4题) </h4>
                </div>
                <div class="view-cell-bd"><span class="orange-text">明天10点截止</span></div>
            </div>
        </div>


        <div class="view-panel grade-course-list">
            <div class="view-panel-cell">
                <div class="view-cell-hd">
                    <h4 class="ellipse">云课堂高中数学寒假延中校区① </h4>
                    <p class="number">班级编号: 888555</p>
                </div>
                <div class="view-cell-bd"><span class="grade-button"></span></div>
            </div>
            <div class="view-panel-cell">
                <div class="view-cell-hd hidden-title-status">
                    <h4 class="ellipse">10月24日作业(4题) </h4>
                </div>
                <div class="view-cell-bd"><span class="gray-text">正确率90%</span></div>
            </div>
        </div-->


        <ion-infinite-scroll ng-if="hasClass && moreDataBeLoaded()" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
