<ion-tabs class="tabs-color-active-positive tabs-icon-only {{$root.hideTabs}}">

    <ion-tab title="我的班级" icon-off="icon-myClass" icon-on="icon-myClass-active" href="#/main/grade">
        <ion-nav-view name="tab-grade"></ion-nav-view>
    </ion-tab>
    <ion-tab title="错题本" icon-off="icon-errorBook" icon-on="icon-errorBook-active" href="#/main/errbook">
        <ion-nav-view name="tab-errbook"></ion-nav-view>
    </ion-tab>
    <ion-tab title="个人中心" icon-off="icon-account" icon-on="icon-account-active" href="#/main/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>
