.task-answer-wrap {
    height: 100%;
    background: #fff;
}
.task-info {

  .scroll {
     height: 100%;
  }

  .task-info-header {
    width: 100%;
    height: 160px;
    background: -webkit-linear-gradient(left, #42e695, #3bb2b8);
    background-size: cover;
    position: relative;
    overflow: hidden;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 10% 10%;
      text-align: center;

      span {
        display: block;
        color: #fff;
      }
      .number {
        font-size: 26px;
        font-family: arial;
      }
      .title {
        margin-top: 10px;
      }
    }

    .puzzle-left {
      position: absolute;
      left: 5%;
      top: 25%;
      width: 100px;
      height: 28px;
      background: url('../img/puzzle.png') no-repeat center;
      background-size: 100%;
    }

    .puzzle-right {
      position: absolute;
      right: 15%;
      top: 10%;
      width: 100px;
      height: 28px;
      background: url('../img/puzzle.png') no-repeat center;
      background-size: 60%;
    }
    .wave-bottom {
      width: 100%;
      height: 100px;
      margin: 0 0;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url('../img/wave-bottom.png') no-repeat center bottom;
      background-size: contain;
    }
  }

  .modal-list{
    ul{
      li{
        background: #41dd9b;
        color: #fff;
        line-height: calc(((100vw - 90px) / 5));
        border: none;
        position: relative;
      }
      .error{
        background: #ff796b;
      }
      .half{
        background: #ffae66;
      }
      .none{
        background: #dedede;
      }
      .blank {
        border: 1px solid #ee2424;
        color: #ee2424;
        background: none;
      }
      .isvoice{
        position: absolute;
        top: 0;
        right: 0;
        width: 23px;
        height: 23px;
        display: block;
        background: url("../img/task-voice.png") no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}

